@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project CarTARge22</p>
    <body class="main" style="background-image:url(https://images.pexels.com/photos/56832/road-asphalt-space-sky-56832.jpeg); background-size:cover; opacity: 0.8;">

    </body>
</div>
