@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project CarTARge22</p>
    <body>
    <div>
        <img src="https://carstyling24.ee/wp-content/uploads/2018/05/bmw-e46-m3-csl-rear-angle-768x512.jpg" width="150px" height="100px"/>
        <img src="https://www.cnet.com/a/img/resize/ddcbc6ab198792b43796699876fc35a75c911f6a/hub/2010/08/11/703a9dfc-f0fa-11e2-8c7c-d4ae52e62bcc/34145278_SS01.jpg?auto=webp&fit=crop&height=675&width=1200" width="150px" height="100px"/>
            <img src="https://assets.whichcar.com.au/image/upload/s--NFzGoQo0--/c_fill,f_auto,q_auto:good/t_p_16x9/v1/archive/whichcar/2019/11/13/-1/mazda-rx7-1422.jpg" width="150px" height="100px" />
            <img src="https://parkers-images.bauersecure.com/wp-images/20722/cut-out/930x620/ford_mustang_mach_1_03.jpg" width="150px" height="100px" />
            <img src="https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/2023/competitive-compare/challenger/desktop/MY23_CompComp_Challenger_Promo_Tile_Set_The_Tone-_01.jpg" width="150px" height="100px" />
            <img src="https://www.usatoday.com/gcdn/-mm-/ed9d7abcc3bc246ba93e3eb0995e6bc9a2fe5b0c/c=322-197-2118-1547/local/-/media/2015/05/16/USATODAY/USATODAY/635673847953450809-2016-Chevrolet-Camaro-SS-002.jpg" width="150px" height="100px" />
    </div>
        <div>
            <img src="https://di-uploads-development.dealerinspire.com/lamborghininaples/uploads/2023/06/2021-Lamborghini-Huraca%CC%81n-STO.jpg" width="350px" height="200px" />
            <img src="https://media.autoexpress.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1682425844/autoexpress/2023/04/McLaren%20750S-7.jpg" width="350px" height="200px" />

        </div>
    </body>
</div>
